@import "vars";

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  background-color: #fff;
}

a {
  text-decoration: none;
}

@import "header";

@import "menu";

.brand {
  display: flex;
  align-items: center;
  &__img {
    width: 100%;
  }
  &__text {
    position: absolute;
    font-family: Lato;
    font-size: 60px;
    line-height: 1.2;
    font-weight: 900;
    letter-spacing: 0.025em;
    color: $textDark;
    border-left: 12px solid $textLight;
    padding-left: 12px;
    margin-left: calc(50% - $widthSite / 2);
  }
  &__luxerious {
    font-size: 40px;
  }
  &__fashion {
    font-size: 40px;
    color: $textLight;
  }
}

%rectangle {
  background-color: #fff;
  position: absolute;
  margin-top: 25px;
}

%rectangleText {
  font-family: Lato;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: $textDark;
}

.for {
  display: flex;
  justify-content: center;
  margin-top: 98px;
  margin-bottom: 100px;
  &__left {
    display: flex;
    flex-direction: column;
  }
  &__right {
    display: flex;
    flex-direction: column;
    margin-left: $marginCollage;
  }
  &__left-men {
    margin-bottom: $marginCollage;
  }
  &__right-women {
    margin-bottom: $marginCollage;
  }
  &__left1-rectangle {
    @extend %rectangle;
    width: 175px;
    height: 82px;
  }
  &__left2-rectangle {
    @extend %rectangle;
    width: 225px;
    height: 82px;
    margin-top: 586px;
  }
  &__left3-rectangle {
    @extend %rectangle;
    width: 162px;
    height: 82px;
  }
  &__left4-rectangle {
    @extend %rectangle;
    width: 180px;
    height: 82px;
    margin-top: 307px;
  }
  &__left1-text {
    @extend %rectangleText;
    text-transform: uppercase;
    position: absolute;
    margin-top: 40px;
    margin-left: 20px;
  }
  &__left2-text {
    @extend %rectangleText;
    text-transform: uppercase;
    position: absolute;
    margin-top: 603px;
    margin-left: 20px;
  }

  &__left3-text {
    @extend %rectangleText;
    text-transform: uppercase;
    position: absolute;
    margin-top: 40px;
    margin-left: 20px;
  }

  &__left4-text {
    @extend %rectangleText;
    text-transform: uppercase;
    position: absolute;
    margin-top: 322px;
    margin-left: 20px;
  }
  &__rectangle-light {
    font-size: 30px;
    color: $textLight;
  }
}

.offers {
  display: flex;
  margin-left: calc(50% - $widthSite / 2);
  margin-right: calc(50% - $widthSite / 2);
  &__block {
    width: 373px;
    height: 529px;
    background-color: #222224;
  }
  &__shadow {
    position: absolute;
  }
  &__text {
    margin-top: 146px;
    margin-left: 39px;
    position: absolute;
    font-family: Lato;
    font-size: 53.7px;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #ffffff;
  }
  &__offer {
    color: $textLight;
  }
  &__forwomen {
    margin-top: 207px;
    font-size: 32.2px;
  }
  &__icons {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-left: 36px;
    margin-top: 46px;
  }
  &__sales {
    margin-top: 124px;
  }
  &__quality {
    margin-top: 124px;
  }
  &__main-text {
    margin-left: 114px;
    position: absolute;
    font-family: Lato;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #fbfbfb;
  }
  &__main-text1 {
    margin-top: 55px;
  }
  &__main-text2 {
    margin-top: 137px;
  }
  &__main-text3 {
    margin-top: 140px;
  }
  &__small-text {
    margin-left: 111px;
    position: absolute;
    font-family: Lato;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #fbfbfb;
  }
  &__small-text1 {
    margin-top: 92px;
  }
  &__small-text2 {
    margin-top: 99px;
  }
  &__small-text3 {
    margin-top: 98px;
  }
}

// .subscribe {
//   margin-top: 97px;
//   &__background {
//     width: 100%;
//   }
//   &__background-color {
//     width: 100%;
//     position: absolute;
//     opacity: 0.5;
//   }
//   &__left {
//     display: flex;
//     position: absolute;
//   }
//   &__left2 {
//     position: absolute;
//   }
//   &__right {
//     display: flex;
//     position: absolute;
//   }
//   &__feedback2-img {
//     margin-left: 230px;
//     margin-top: 111px;
//   }
//   &__feedback2-text {
//     margin-left: 28px;
//     margin-top: 123px;
//     font-family: Lato;
//     font-size: 16px;
//     line-height: 26px;
//     font-weight: 400;
//     font-style: italic;
//     letter-spacing: 0.025em;
//     color: #222224;
//   }
//   &__left2 {
//     margin-left: 343px;
//     margin-top: 210px;
//     font-size: 12px;
//     line-height: 14px;
//     font-weight: 300;
//     color: #222224;
//   }
//   &__feedback2-name {
//     font-family: Lato;
//     font-size: 16px;
//     line-height: 26px;
//     font-weight: 700;
//     letter-spacing: 0.025em;
//     color: $textLight;
//   }
// }

.container {
  width: 1140px;
  margin: 0 auto;
}

.item-sec-title {
  font-family: Lato;
  font-size: 30px;
  line-height: 54px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: $textDark;
  text-align: center;
}

.item-sec-dsc {
  font-family: Lato;
  font-size: 14px;
  line-height: 54px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #9f9f9f;
  text-align: center;
  margin-bottom: 60px;
}

.item-sec {
  margin-bottom: 200px;
}

.item {
  position: relative;
  width: 263px;
  margin-bottom: 40px;
}

.item-link {
  display: block;
  width: 263px;
}

.item:hover {
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
}

.item-pic {
  width: 100%;
}

.txt-box {
  padding: 20px;
}

.item-dsc {
  font-family: Lato;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: $textDark;
  margin-bottom: 17px;
}

.item-price {
  font-family: Lato;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: $textLight;
}

.item:hover .item-pic {
  filter: brightness(30%);
}

.add {
  display: flex;
  padding: 10px;
  font-family: Lato;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 700;
  color: #ffffff;
  border: 1px solid #fff;
  align-items: center;
  pointer-events: all;
}

.add-box {
  position: absolute;
  top: 98px;
  display: none;
  justify-content: center;
  width: 100%;
  pointer-events: none;
}

.add-pic {
  margin-right: 10px;
}

.add:hover {
  box-shadow: 0 0 10px 0 #fff;
}

.item:hover .add-box {
  display: flex;
}

.item-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item-all {
  display: flex;
  justify-content: center;
}

.item-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: $textLight;
  font-family: Lato;
  font-size: 16px;
  line-height: 54px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #ffffff;
  width: 212px;
  height: 48px;
  &:after {
    content: "\f178";
    font-family: FontAwesome;
    color: #fff;
    padding-left: 9px;
  }
}

@import "subscribe";

@import "footernav";

@import "footer";

.top-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: calc(50% - $widthSite / 2);
  padding-right: calc(50% - $widthSite / 2);
  height: 148px;
  background-color: #f8f3f4;
  &__heading {
    font-family: Lato;
    font-size: 24px;
    line-height: 20px;
    font-weight: 900;
    text-transform: uppercase;
    color: $textLight;
  }
}

.breadcrumbs {
  &__ul {
    list-style-type: none;
    display: flex;
  }
  &__li:not(:last-child)::after {
    content: "/";
    padding-left: 8px;
    padding-right: 8px;
    font-family: Lato;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    text-transform: uppercase;
    color: #636363;
  }
  &__link {
    font-family: Lato;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    text-transform: uppercase;
    color: #636363;
  }
  &__li:last-child .breadcrumbs__link {
    font-weight: 700;
    color: $textLight;
  }
}

.checkin {
  margin-top: 89px;
  &__punkt {
    font-family: Lato;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #222222;
    margin: 30px 0 30px 0;
  }
}

.registration {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: space-around;
  margin-bottom: 79px;
  &__block {
    flex: 1 0;
    width: 50%;
  }
  &__left,
  &__right {
    display: flex;
    flex-direction: column;
  }
  &__left {
    margin-left: 35px;
  }
  &__title {
    padding-bottom: 15px;
    font-family: Lato;
    font-size: 13px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    color: #222222;
  }
  &__light {
    padding-bottom: 30px;
    font-family: Lato;
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
    color: #b3b2b2;
  }
  &__light_fast {
    padding-bottom: 15px;
  }
  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #eaeaea;
    width: 180px;
    height: 50px;
    font-family: Lato;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #4a4a4a;
  }
  &__pass {
    display: flex;
    align-items: center;
    margin-top: 32px;
  }
  &__forgot {
    margin-left: 32px;
  }
  &__register {
    margin-bottom: 32px;
  }
  &__checkout {
    margin-bottom: 16px;
  }
  &__email,
  &__password {
    width: 390px;
    height: 45px;
    background-color: #ffffff;
    border: 1px solid #eaeaea;
    margin-bottom: 23px;
  }
  &__faild {
    font-family: Lato;
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
    color: #ff0d0d;
  }
}
