.text-color {
    color: brown;
}

.nav-background {
    background-color: rgb(188, 135, 135);
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.product_box {
    gap: 32px;
    flex-wrap: wrap;
}