* {
    background-color: rgb(249, 205, 205);
}

h1 {
    color: #56382d;
}

h2 {
    font-style: italic;
}

img {
    border: 10px solid #56382d;
}

div {
    display: flex;
}

p {
    padding: 20px;
}

.img {
    width: 500px;
    margin-top: 20px;
}

a {
    color: #56382d;
    font-size: 18px;
}