* {
  margin: 0;
  padding: 0;
}

.container {
  width: 1440px;
}

.temperature-converter {
  display: flex;
  align-items: center;
  justify-content: end;

  margin: 25px;
}

.todo-block {
  display: flex;
  justify-content: center;
}

.todo-list {
}