@import 'vars';
@import 'mixins';

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'latoblack';
}

a {
    text-decoration: none;
}

.center {
    padding-left: calc(50% - $widthSite / 2);
    padding-right: calc(50% - $widthSite / 2);
}

.product-box {
    @include centerflex();
}

%flex {
    display: flex;
    flex-wrap: wrap;
}

.product {
    width: $thirdSite;
    display: flex;
    flex-direction: column;

    &__img {
        width: 100%;
    }
    // .product__content
    &__content {
        background-color: #f8f8f8;
        padding: 24px 16px;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    &__name {
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        color: $colorText;
    }
    &__text {
        font-family: 'latolight';
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #5d5d5d;
    }
    &__price {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        color: $colorSelectSite;
    }
}

.header {
    background-color: $backBlock;
    padding-top: 20px;
    padding-bottom: 20px;
    @extend %flex;
}

.header__left {
    display: flex;
    align-items: center;
    gap: 41px;
}

.top-head {
    background: #f8f3f4;
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-head__heading {
    font-style: normal;
    font-weight: 400px;
    font-size: 24px;
    line-height: 29px;
    color: $colorSelectSite;
}

.breadcrumbs__link {
    font-style: normal;
    font-weight: 300px;
    font-size: 14px;
    line-height: 17px;
    color: #636363;
}

.breadcrumbs__link_site {
    font-weight: 700;
    color: $colorSelectSite;
}

//

.container {
    width: 1140px;
    margin: 0 auto;
  }
  
  .header2 {
    background-color: #ccc;
    height: 150px;
    margin-bottom: 50px;
    &__button {
      margin-left: 300px;
    }
  }
  
  .flex {
    display: flex;
    flex-wrap: wrap;
  }
  
  .block {
    width: $widthSite/3 - 2 * $bd-width;
    border: $bd-width solid black;
    height: 300px;
    &__button {
      margin: 200px auto 0;
      &_border {
        border: $bd-width solid black;
      }
    }
  }
  
  .button {
    display: block;
    width: 100px;
    height: 40px;
    background-color: darkolivegreen;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
    line-height: 40px;
    text-align: center;
    &_border-blue {
      border: $bd-width solid rgb(57, 136, 222);
    }
    
    &:hover {
      background-color: #b4b63e;
    }
    &__hover-red:hover {
      background-color: #590303;
      transform: scale(1.2);
    }
    transition: all 0.5s;
  }